:root {
  --background-color: #111111;
  --text-color: #f9f9f9;
  --text-color-secondary: #aaaaaa;

  --code-background-color: #111;
  --code-textarea-shadow: none; //1px 16px 10px rgba(64,64,64,.08);
  --code-textarea-border: 1.5px solid #444;
}
