:root {
  --background-color: #ffffff;
  --text-color: #111111;
  --text-color-secondary: #777777;

  --code-background-color: #212121;
  --code-textarea-shadow: 0 1px 16px 10px rgba(64,64,64,.08);
  --code-textarea-border: none;
}
