@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1216px,
  hd: 1408px,
);
