@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: yellow;
  /* WebKit/Blink Browsers */
  color: #111;
}

*::-moz-selection {
  background: yellow;
  /* Gecko Browsers */
  color: #111;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 20px;
  color: var(--text-color);
  background: var(--background-color);
}

#app {
  height: 100%;
}

.header {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 100;
}
.header > div {
  cursor: pointer;
  color: var(--text-color-secondary);
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 1.5em;
  font-size: 14px;
  color: var(--text-color-secondary);
}
.footer-menu {
  margin: 10px 0;
}
.footer-menu-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.footer-menu-line > a {
  color: var(--text-color-secondary);
}
.footer-menu-line .sep {
  margin: 0 10px;
}

.home {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
}
.home .main-title > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .main-title > div span {
  opacity: 0;
}
.home-content {
  width: 600px;
  margin: 30px auto 160px auto;
}
.home .posts-list {
  margin-left: 0;
  list-style: none;
}
.home .post-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.home .post-link {
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}
.home .post-meta {
  font-size: 14px;
  line-height: 2em;
  color: var(--text-color-secondary);
  margin-top: 0px;
}

.post {
  width: 600px;
  margin: 170px auto 140px auto;
  padding: 0 30px;
}
.post-title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.25;
}
.post-meta {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: var(--text-color-secondary);
  margin-top: 15px;
}
.post-header {
  margin-bottom: 30px;
}
.post-nav {
  font-size: 12px;
  margin-bottom: 30px;
  display: block;
  color: var(--text-color-secondary);
  text-decoration: none;
}
.post-content p {
  hyphens: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: var(--text-color);
}
.post-content a {
  text-decoration: underline;
}
.post-content article {
  margin-top: 3em;
}
.post-content sup {
  vertical-align: super;
  line-height: 0.05em;
  font-size: 14px;
  padding: 0 2px;
}
.post-content blockquote {
  border-left: 2px solid var(--text-color);
  padding: 10px 0px 10px 30px;
  margin: 40px 0;
}
.post-content blockquote p {
  text-align: unset;
  font-size: 20px;
}
.post-content blockquote p + p {
  text-indent: 0;
  text-align: right;
}
.post-content blockquote p ~ p {
  margin-top: 0.8em;
}
.post-content p ~ p {
  margin-top: 1.75em;
}
.post-content a {
  color: var(--text-color);
}

/*# sourceMappingURL=styles.css.map */
